.project-layout{
  display: flex;
}

.project-sidebar{
  width: 25%;
}

.slider-layout {
  display: flex;
  gap: var(--space-16);
  width: 100%;
  max-width: 100%;
}

.main-slider {
  flex: 5;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.main-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.thumb-slider {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  max-height: 384px;
  overflow: hidden;
}

.splide__slide {
  width: 100%;
  height: 17% !important;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.slider-layout .splide__arrow {
  top: 45%; 
}

/* ---------------- Project Summary ---------------- */
.project-summary {
  display: flex;
  justify-content: space-between;
  gap: var(--space-24);
  padding: var(--space-12);
}

.project-summary-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.project-summary-left h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--text-primary);
  margin: 0;
}

.project-summary-left p {
  color: var(--text-secondary);
  font-size: var(--font-size-sm);
  margin: 0;
}

.project-summary-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.project-summary-tags .tag {
  background-color: var(--blue-light-100);
  color: var(--blue-light-600);
  font-size: var(--font-size-xs);
  padding: var(--space-4) var(--space-8);
  border-radius: var(--radius-full);
}

.project-summary-price {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--blue-light-600);
}

.project-price-section {
  display: flex;
  align-items: flex-start;
  gap: var(--space-4);
  flex-direction: column;
}

.project-summary-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-12);
  text-align: right;
  justify-content: space-around;
}

.project-availability {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--blue-light-600);
}

.project-availability span:first-of-type {
  font-size: var(--font-size-xxl);
  color: var(--text-primary);
  font-weight: var(--font-weight-bold);
}

.project-availability p {
  font-size: var(--font-size-xs);
  color: var(--blue-light-700);
}

.project-summary-right button {
  background-color: var(--blue-light-600);
  color: var(--text-inverted);
  border: none;
  padding:var(--space-16);
  font-size: var(--font-size-sm);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.2s ease;
  width: fit-content;
}

.project-summary-right button:hover {
  background-color: var(--blue-light-700);
}

/* ---------------- Project Tabs ---------------- */
.project-tabs {
  margin-top: var(--space-32);
  flex-direction: column;
}

.project-tabs-nav {
  display: flex;
  gap: var(--space-24);
  border-bottom: 1px solid var(--border-default);
}

.project-tab {
  background: none;
  border: none;
  padding: var(--space-12) 0;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--text-primary);
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
}

.project-tab.active {
  font-weight: var(--font-weight-semibold);
  color: var(--blue-light-600);
  border-bottom: 2px solid var(--blue-light-600);
}

.project-tab-content {
  padding-top: var(--space-16);
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  line-height: var(--line-height-lg);
}

.project-tab-content h4 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  margin: 0;
  color: var(--neutral-600);
}

.project-tab-content p {
  margin: 0;
  color: var(--text-secondary);
}
